{% extends "base.html" %}
{% load static %}

{% block title %}Forum Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts_home_styles.css' %}">
{% endblock %}

{% block content %}
<div class="category-list">
    {% for category in categories %}
    <div class="category">
        <h2>{{ category.name }}</h2>
        <ul class="subcategory-list">
            {% for subcategory in category.subcategories.all %}
            <li class="subcategory-item">
                <a href="{% url 'subcategory_topics' subcategory.id %}">{{ subcategory.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
