{% extends "base.html" %}

{% load static %}

{% block title %}{{ topic.title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/accounts_topic_detail_styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">{{ topic.title }}</h1>
    <p>{{ topic.body }}</p> <!-- Обновлено с {{ topic.content }} на {{ topic.body }} -->
    <p>Автор {{ topic.author }}</p>

    <!-- Блок уведомлений -->
    <div class="notifications">
        {% for notification in notifications %}
            <div class="notification">
                <p>{{ notification.message|safe }}</p> <!-- Обновлено с {{ notification.message }} на {{ notification.message|safe }} -->
                {% if not notification.is_read %}
                <a href="{% url 'mark_as_read' notification.id %}" class="btn btn-success btn-sm">отметить как прочитанное</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="comment-list">
        <ul>
            {% for comment in comments %}
            <li class="comment" id="comment-{{ comment.id }}"> <!-- Добавлен уникальный идентификатор -->
                <p>{{ comment.body }}</p> <!-- Обновлено с {{ comment.content }} на {{ comment.body }} -->
                <p>Автор {{ comment.author }} в {{ comment.created_at }}</p>
                {% if request.user == comment.author or request.user.is_superuser %}
                <!-- Кнопка редактирования комментария -->
                <a href="{% url 'edit_comment' comment.id %}" class="btn btn-secondary">Редактировать</a>
                <!-- Форма удаления комментария -->
                <form method="post" action="{% url 'delete_comment' comment.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
