.header {
    background-color: #87CEEB;  /* Небесный цвет */
    padding: 25px;
    border-radius: 15px;  /* Закругленные углы */
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
